<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list of movies</title>
</head>
<body>
    <h1>List of Movies</h1>
    <button><a href="/home">Home</a></button>
    <table class="table">
        <thead>
        <tr>
            <th>Movie Title</th>
            <th>Release Year</th>
            <th>Description</th>
            <th>Director</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie:${movieLists}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.director.name}"></td>
            <td>
                <button><a th:href="@{/updateMovie/{id}(id=${movie.id})}">Update</a></button>
                <button><a th:href="@{/deleteMovie/{id}(id=${movie.id})}">Delete</a></button>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>