<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Director</title>
</head>
<body>
<button><a href="/home">Home</a></button>
<button><a href="/addMovie">Add Movie</a></button>
<h1>Director Information</h1>
<form th:action="@{/processUpdateDirector}" th:object="${newDirector}" method="post">
    <input type="hidden" th:field="*{id}">
    Director name: <input type="text" th:field="*{name}">
    Genre Type:<input type="text" th:field="*{genre}">
    <input type="submit" value="Done">
</form>
</body>
</html>